<div class="card">
    <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm) ">
            <div class="form-group">
                <input 
                type="text"
                class="form-control"
                name="Nombre"
                #Nombre= "ngModel"
                [(ngModel)]="productService.selectedProduct.name"
                placeholder="Ingrese nombre de producto">
            </div>

            <div class="form-group">
                    <input 
                    type="text"
                    class="form-control"
                    name="Categoria"
                    #Categoria= "ngModel"
                    [(ngModel)]="productService.selectedProduct.Categoria"
                    placeholder="Ingrese Categoria">
                </div>

            <div class="form-group">
                    <input 
                    type="text"
                    class="form-control"
                    name="Nombre"
                    #Nombre= "ngModel"
                    [(ngModel)]="productService.selectedProduct.name"
                    placeholder="Ingrese nombre de producto">
                </div>    
        </form>
    </div>
</div>
